.login{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    padding: 50px 10px;
    justify-content: space-between;
    margin: 100px auto;
    background: rgba(0,0,0,.5);
  }
  h2{
    color: #05FC6A;
    margin: 0 auto;
  }
  input[type="text"], input[type="password"]{
    display: block;
    margin: 10px auto;
    width: 85%;
    height: 6vh;
    background-color: transparent;
    border: solid 1px #05FC6A;
    color: #05FC6A;
    font-size: 14px;
    padding: 7px;
  }


  input:focus{
    outline: none;
  }


  #submit{
    width: 30%;
    margin: 0 auto;
  }
